/* app/clicker/clicker.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaçamento entre os botões */
    margin-top: 20px;
}

.button {
    background-color: #333; /* Fundo cinza escuro */
    color: white; /* Texto branco */
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 10px rgba(255, 0, 0, 0.6); /* Sombra vermelha */
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    background-color: #444; /* Muda a cor para um tom mais escuro ao passar o mouse */
    box-shadow: 0 6px 15px rgba(255, 0, 0, 0.8); /* Sombra mais forte ao passar o mouse */
}
